
<link rel="stylesheet" href="css/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Test</title>

<div class="wpb_revslider_element wpb_content_element">
    <div id="start_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
        style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <div id="start" class="rev_slider fullwidthabanner" style="display:none;"
            data-version="5.2.5.4">
            <ul>
                <li data-index="rs-4" data-transition="boxslide,curtain-1"
                    data-slotamount="default,default"
                    data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="default,default" data-easeout="default,default"
                    data-masterspeed="500,default" data-thumb="images/slider-01-100x50.jpg"
                    data-rotate="0,0" data-fstransition="fade"
                    data-fsmasterspeed="1000" data-fsslotamount="7"
                    data-saveperformance="off" data-title="Home01"
                    data-param1="" data-param2="" data-param3=""
                    data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9=""
                    data-param10="" data-description=""> <img src="images/dummy.png"
                        alt="" title="Home 01" data-lazyload="images/slider-01.jpg"
                        data-bgposition="center center" data-bgfit="cover"
                        data-bgrepeat="no-repeat" data-bgparallax="5"
                        class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  overlay-shape"
                        id="slide-4-layer-18" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                        data-voffset="['0','0','0','0']" data-width="full"
                        data-height="full" data-whitespace="normal"
                        data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="1000" data-basealign="slide"
                        data-responsive_offset="on" style="z-index: 5;background-color:rgba(29, 48, 82, 0.85);border-color:rgba(0, 0, 0, 0.50);right:50%;padding-right:100px;background-clip:content-box;"></div>
                    <div class="tp-caption   tp-resizeme" id="slide-4-layer-19"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-157','-157','-157','-157']"
                        data-fontsize="['80','60','60','60']"
                        data-lineheight="['80','60','60','60']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2000" data-splitin="chars"
                        data-splitout="chars" data-responsive_offset="on"
                        data-elementdelay="0.1" data-endelementdelay="0.1"
                        style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:UTMAvoBold;text-transform:uppercase;">FAST MOVING?</div>
                    <div class="tp-caption   tp-resizeme" id="slide-4-layer-24"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-9','-9','-9','-15']"
                        data-fontsize="['26','24','24','18']"
                        data-width="['646','588','588','445']"
                        data-height="['115','116','116','116']"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                        data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2750" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 7; min-width: 646px; max-width: 646px; max-width: 115px; max-width: 115px; white-space: normal; font-size: 26px; line-height: 38px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    <div class="tp-caption   tp-resizeme" id="slide-4-layer-22"
                        data-x="['left','left','left','left']"
                        data-hoffset="['279','160','181','181']" data-y="['top','top','top','top']"
                        data-voffset="['144','147','83','83']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-visibility="['on','on','off','off']"
                        data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                        data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:[-100%];y:0;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="4000" data-responsive_offset="on"
                        style="z-index: 8;"><img src="images/dummy.png"
                            alt="" width="221" height="440" data-ww="['221px','221px','221px','221px']"
                            data-hh="['440px','440px','440px','440px']"
                            data-lazyload="images/img-slider_02.png"
                            data-no-retina></div>
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-4-layer-17"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','16']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['137','137','137','120']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(29, 48, 82, 1.00);"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;"
                        data-transform_out="y:[-100%];s:1500;"
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="3000" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;background-color:rgba(246, 147, 35, 1.00);padding:15px 30px 15px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ORDER MOVING</div>
                </li>
                <li data-index="rs-5" data-transition="boxfade"
                    data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default"
                    data-easeout="default" data-masterspeed="default"
                    data-thumb="images/slider-02-100x50.jpg"
                    data-rotate="0" data-saveperformance="off"
                    data-title="Home02" data-param1="" data-param2=""
                    data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8=""
                    data-param9="" data-param10="" data-description="">
                    <img src="images/dummy.png"
                        alt="" title="Home 01" data-lazyload="images/slider-02.jpg"
                        data-bgposition="center center" data-bgfit="cover"
                        data-bgrepeat="no-repeat" data-bgparallax="5"
                        class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  overlay-shape"
                        id="slide-5-layer-18" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                        data-voffset="['0','0','0','0']" data-width="full"
                        data-height="full" data-whitespace="normal"
                        data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="1000" data-basealign="slide"
                        data-responsive_offset="on" style="z-index: 5;background-color:rgba(52, 52, 52, 0.90);border-color:rgba(0, 0, 0, 0.50);right:50%;padding-right:100px;background-clip:content-box;"></div>
                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-19"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-157','-157','-157','-157']"
                        data-fontsize="['80','60','60','60']"
                        data-lineheight="['80','60','60','60']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:2000;e:Power3.easeOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2000" data-splitin="chars"
                        data-splitout="chars" data-responsive_offset="on"
                        data-elementdelay="0.1" data-endelementdelay="0.1"
                        style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;text-transform:uppercase;">let us help you!</div>
                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-24"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-9','-9','-9','-15']"
                        data-fontsize="['26','24','24','18']"
                        data-width="['646','588','588','445']"
                        data-height="['115','116','116','116']"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                        data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:[-100%];y:0;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2500" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 7; min-width: 646px; max-width: 646px; max-width: 115px; max-width: 115px; white-space: normal; font-size: 26px; line-height: 38px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-22"
                        data-x="['left','left','left','left']"
                        data-hoffset="['279','160','181','181']" data-y="['top','top','top','top']"
                        data-voffset="['144','147','83','83']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-visibility="['on','on','off','off']"
                        data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                        data-transform_out="opacity:0;s:1500;"
                        data-mask_in="x:[-100%];y:0;" data-start="4000"
                        data-responsive_offset="on" style="z-index: 8;"><img
                            src="images/dummy.png"
                            alt="" width="221" height="440" data-ww="['221px','221px','221px','221px']"
                            data-hh="['440px','440px','440px','440px']"
                            data-lazyload="images/img-slider_02.png"
                            data-no-retina></div>
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-5-layer-17"
                        data-x="['left','left','left','left']"
                        data-hoffset="['14','15','15','16']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['137','137','137','120']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(29, 48, 82, 1.00);"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;"
                        data-transform_out="y:[-100%];s:1000;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="3000" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;background-color:rgba(246, 147, 35, 1.00);padding:15px 30px 15px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ORDER MOVING</div>
                </li>
                <li data-index="rs-6" data-transition="boxslide,curtain-1"
                    data-slotamount="default,default"
                    data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="default,default" data-easeout="default,default"
                    data-masterspeed="500,default" data-thumb="images/slider-03-100x50.jpg"
                    data-rotate="0,0" data-saveperformance="off"
                    data-title="Home03" data-param1="" data-param2=""
                    data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8=""
                    data-param9="" data-param10="" data-description="">
                    <img src="images/dummy.png"
                        alt="" title="Home 01" data-lazyload="images/slider-03.jpg"
                        data-bgposition="center center" data-bgfit="cover"
                        data-bgrepeat="no-repeat" data-bgparallax="5"
                        class="rev-slidebg" data-no-retina>
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  overlay-shape"
                        id="slide-6-layer-18" data-x="['left','left','left','left']"
                        data-hoffset="['-1','0','0','0']" data-y="['top','top','top','top']"
                        data-voffset="['-1','0','0','0']" data-width="full"
                        data-height="full" data-whitespace="normal"
                        data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="1000" data-basealign="slide"
                        data-responsive_offset="on" style="z-index: 5;background-color:rgba(61, 82, 101, 0.80);border-color:rgba(0, 0, 0, 0.50);right:50%;padding-right:100px;background-clip:content-box;"></div>
                    <div class="tp-caption   tp-resizeme" id="slide-6-layer-19"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-157','-157','-157','-157']"
                        data-fontsize="['80','60','60','60']"
                        data-lineheight="['80','60','60','60']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:2500;e:Power3.easeOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2000" data-splitin="chars"
                        data-splitout="chars" data-responsive_offset="on"
                        data-elementdelay="0.1" data-endelementdelay="0.1"
                        style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;text-transform:uppercase;">moving company</div>
                    <div class="tp-caption   tp-resizeme" id="slide-6-layer-24"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-9','-9','-9','-15']"
                        data-fontsize="['26','24','24','18']"
                        data-width="['646','588','588','445']"
                        data-height="['115','116','116','116']"
                        data-whitespace="normal" data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:[-100%];s:1500;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="2500" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 7; min-width: 646px; max-width: 646px; max-width: 115px; max-width: 115px; white-space: normal; font-size: 26px; line-height: 38px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    <div class="tp-caption   tp-resizeme" id="slide-6-layer-22"
                        data-x="['left','left','left','left']"
                        data-hoffset="['279','160','181','181']" data-y="['top','top','top','top']"
                        data-voffset="['143','147','83','83']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-visibility="['on','on','off','off']"
                        data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;"
                        data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:[-100%];y:0;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="4000" data-responsive_offset="on"
                        style="z-index: 8;"><img src="images/dummy.png"
                            alt="" width="221" height="440" data-ww="['221px','221px','221px','221px']"
                            data-hh="['440px','440px','440px','440px']"
                            data-lazyload="images/img-slider_02.png"
                            data-no-retina></div>
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-6-layer-17"
                        data-x="['left','left','left','left']"
                        data-hoffset="['15','15','15','16']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['137','137','137','120']"
                        data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(29, 48, 82, 1.00);"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;"
                        data-transform_out="y:[-100%];s:1500;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                        data-start="3000" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on"
                        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 800; color: rgba(255, 255, 255, 1.00);font-family:CenturyGothic;background-color:rgba(246, 147, 35, 1.00);padding:15px 30px 15px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">ORDER MOVING</div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>

<script src="js/main.js"></script>

<script type="text/javascript">
    /******************************************
        -	PREPARE PLACEHOLDER FOR SLIDER	-
    ******************************************/

    var setREVStartSize = function () {
        try {
            var e = new Object,
                i = jQuery(window).width(),
                t = 9999,
                r = 0,
                n = 0,
                l = 0,
                f = 0,
                s = 0,
                h = 0;
            e.c = jQuery('#start');
            e.responsiveLevels = [1240, 1024, 778, 480];
            e.gridwidth = [1200, 1024, 778, 480];
            e.gridheight = [800, 800, 800, 800];

            e.sliderLayout = "fullwidth";
            if (e.responsiveLevels && (jQuery.each(e.responsiveLevels,
                    function (e, f) {
                        f > i && (t = r = f, l = e), i >
                            f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[
                    l] || e.gridheight[0] || e.gridheight,
                s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth,
                h = i / s, h = h > 1 ? 1 : h, f = Math.round(
                    h * f), "fullscreen" == e.sliderLayout) {
                var u = (e.c.width(), jQuery(window).height());
                if (void 0 != e.fullScreenOffsetContainer) {
                    var c = e.fullScreenOffsetContainer.split(
                        ",");
                    if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ?
                                u - jQuery(i).outerHeight(
                                    !0) : u
                        }), e.fullScreenOffset.split("%").length >
                        1 && void 0 != e.fullScreenOffset &&
                        e.fullScreenOffset.length > 0 ? u -=
                        jQuery(window).height() * parseInt(
                            e.fullScreenOffset, 0) / 100 :
                        void 0 != e.fullScreenOffset && e.fullScreenOffset
                        .length > 0 && (u -= parseInt(e.fullScreenOffset,
                            0))
                }
                f = u
            } else void 0 != e.minHeight && f < e.minHeight &&
                (f = e.minHeight);
            e.c.closest(".rev_slider_wrapper").css({
                height: f
            })

        } catch (d) {
            console.log("Failure at Presize of Slider:" + d)
        }
    };

    setREVStartSize();

    var tpj = jQuery;

    var revapi2;
    tpj(document).ready(function () {
        if (tpj("#start").revolution == undefined) {
            revslider_showDoubleJqueryError("#start");
        } else {
            revapi2 = tpj("#start").show().revolution({
                sliderType: "standard",
                jsFileLocation: "//themes.g5plus.net/moveco/wp-content/plugins/revslider/public/assets/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "on",
                    arrows: {
                        style: "my-nav",
                        enable: true,
                        rtl: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                },
                responsiveLevels: [1240, 1024,
                    778, 480
                ],
                visibilityLevels: [1240, 1024,
                    778, 480
                ],
                gridwidth: [1200, 1024, 778,
                    480
                ],
                gridheight: [800, 800, 800, 800],
                lazyType: "smart",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7,
                        12, 16, 10, 50, -50,
                        -60, 15, 10, 100,
                        55
                    ],
                    type: "mouse",
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    }); /*ready*/
</script>
<script src="js/script.js"></script>